apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wanderlust
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/harshXprojects/Wanderlust-Mega-Project2
    targetRevision: main
    path: Kubernetes
  destination: 
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
